@using Book_Store_Models
@model List<Product>

<div class="container">

    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Product list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="UpsertProducts" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New Category</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>ISBN</td>
                <td>Author</td>
                <td>Price</td>
                <td>Category</td>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Description</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.Author</td>
                    <td>₹ @obj.ListPrice</td>
                    <td>@obj.CategoryId</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="UpsertProducts" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Product" asp-action="DeleteProducts" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
